body {
    background: grey;
}

.try {
    color: chartreuse;
    outline-color: black;
    text-decoration: underline;
}
/*masukin font custom */

@font-face {
    font-family: "hello";
    src: url("Font/Hello.otf");
}
@font-face {
    font-family: "Hello2";
    src: url("Font/Hello2.otf");
}

@font-face {
    font-family: "custom";
    src: url("Font/font.otf");
}

#Font {
    color: black;
    font-family: "Hello";
    font-size: 20px;
}
.font {
    font-family: "Hello2";
    font-size: 20px;
}

#custom {
    color:cyan;
    font-family: "custom";
    font-size: 50px;
}

#box {
    width: 200px;
    height: 50px;
    background: white;
    padding: 20px 3px 40px 40px;
    margin-left: 500px;
}

#menu li {
    float: left;
    padding: 10px;
}