body {
    background: grey;
}

.try {
    color: chartreuse;
    outline-color: black;
    text-decoration: underline;
}
/*masukin font custom */

@font-face {
<<<<<<< HEAD
    font-family: "halo";
    src: url("oo.otf")
}



@font-face {
    font-family: "custom";
    src: url("font.otf");
}

#hont {
    font-family: "halo";
    font-size: 20px;
    color: darkturquoise;
}

=======
    font-family: "hello";
    src: url("Font/Hello.otf");
}
@font-face {
    font-family: "Hello2";
    src: url("Font/Hello2.otf");
}

@font-face {
    font-family: "custom";
    src: url("Font/font.otf");
}

#Font {
    color: black;
    font-family: "Hello";
    font-size: 20px;
}
>>>>>>> b75080ce78a8dd30d24d756515d29ce6941ef232
.font {
    font-family: "Hello2";
    font-size: 20px;
}

#custom {
    color:cyan;
    font-family: "custom";
<<<<<<< HEAD
    font-size: 30px;
=======
    font-size: 50px;
>>>>>>> b75080ce78a8dd30d24d756515d29ce6941ef232
}

#box {
    width: 200px;
    height: 50px;
    background: white;
    padding: 20px 3px 40px 40px;
    margin-left: 500px;
}

#menu li {
    float: left;
<<<<<<< HEAD
    padding: 30px;
=======
    padding: 10px;
>>>>>>> b75080ce78a8dd30d24d756515d29ce6941ef232
}